---
import Header from '$lib/components/header/header.astro';

import MovieList from './components/movie-list.astro';
import type { HomeProps } from './home.server';

type Props = HomeProps;

const { trendingMovies } = Astro.props;
---

<Header />

<main>
  <MovieList movieList={trendingMovies} title='Trending This Week' />
</main>
