---
import Header from '$lib/components/header/header.astro';

import MovieList from './components/movie-list.astro';
import type { HomeProps } from './home.server';

type Props = HomeProps;

const {
  nowPlayingMovies,
  popularMovies,
  trendingMovies,
  upcomingMovies,
} = Astro.props;
---

<Header />

<main>
  <MovieList movieList={trendingMovies} title='Trending This Week' />
  <MovieList movieList={nowPlayingMovies} title='Now Playing' />
  <MovieList movieList={upcomingMovies} title='Upcoming' />
  <MovieList movieList={popularMovies} title='Popular' />
</main>
