---
import MovieCard from '$lib/components/movie-card/movie-card.astro';
import SliderItem from '$lib/components/slider/slider-item.svelte';
import Slider from '$lib/components/slider/slider.svelte';
import type { MovieOverview } from '$lib/types/movie';

interface Props {
  href: string;
  movieList: MovieOverview[];
  title: string;
}

const { href, movieList, title } = Astro.props;
---

<section>
  <h2 class='font-semibold text-xl'>
    <a href={href}>
      {title}
      <span class='explore-all'>Explore All</span>
    </a>
  </h2>

  {
    movieList.length > 0 && (
      <Slider client:load>
        {movieList.map(movie => (
          <SliderItem>
            <MovieCard isLazyImage movie={movie} />
          </SliderItem>
        ))}
      </Slider>
    )
  }
</section>

<style lang='scss'>
  section {
    width: 100%;
    max-width: var(--screen-size-xl);
    padding: 8px 0 16px;
    margin: 0 auto;
  }

  h2 {
    margin: 0 0 8px;
    padding: 0 var(--left-right-gutter);

    a {
      display: flex;
      align-items: center;
      gap: 4px;
      color: inherit;
    }

    .explore-all {
      padding: 4px;
      border-radius: 4px;
      color: var(--color-neutral-05);
      background-color: var(--color-green-50);
    }
  }

  @media (hover: hover) {
    h2 {
      .explore-all {
        opacity: 0;
        overflow: hidden;
        transition: opacity 0.3s ease-in;
      }

      a:hover .explore-all {
        opacity: 1;
      }
    }
  }
</style>
